<hr>
<div class="text-center">
  <p>&copy; 2017 erebus.me - All rights reserved</p>
  <p>Theme darkstrap by danneu | Powered by erebus.me</p>
  <!--p class="text-center">Written By <a href="https://golang.org">Golang<img class="brand" src="https://golang.org/favicon.ico"></a></p-->
  <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1261008549'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1261008549%26show%3Dpic2' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
<br>
