<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Erebus.me</title>
<link rel="shortcut icon" type="image/icon" href="/img/favicon.ico" />
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/css/darkstrap.css">
<script src="//cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/jquery.pjax/1.9.6/jquery.pjax.js"></script>
<link rel="stylesheet" href="/ckeditor/plugins/codesnippet/lib/highlight/styles/tomorrow-night.css">
<script src="/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js"></script>
<script>
$(document).ready(function() {
  var progress = $('#loadpage-progress');
  var progressBar = $('#loadpage-progress-bar');

  function onprogress(e) {
    var percent = parseInt(100 * e.loaded / e.total);
    progressBar[0].style.width = percent + '%';
  }

  $('#container').bind('pjax:start', function() {
    progress.show();
    progressBar[0].style.width = '0%';
  }).bind('pjax:end', function() {
    /*
    $('li.navbar-dir a').each(function(index, target) {
      console.log(location.pathname, target.href);
      var self = $(target);
      if (location.pathname.indexOf(self.attr('href')) == 0) {
        self.parent().addClass("active");
      } else {
        self.parent().removeClass("active");
      }
      return true;
    });
    */

    setTimeout(function() {
      progress.hide();
    }, 500);
  });

  $(document).pjax('a', '#container', {xhrFields: {onprogress: onprogress}});
});
</script>
