<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/css/darkstrap.css">
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<style>
.navbar {
  border-radius: 0;
}
.article-body img {
  max-width: 100%;
  height: auto;
  padding: 0px 0px 10px 0px;
}
img.brand {
  padding: 0px;
	margin: 0px;
	border: none;
  height: 20px;
  outline: 0px;
}
body {
  padding-top: 50px;
}
/*
div.container {
  min-width: 400px;
}
*/
</style>
