<!DOCTYPE html>
<html>
<head>
{{template "/head.html" .}}
<title>Blog</title>
</head>
<body>
{{template "/nav.html" .}}
<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <div class="page-header">
        <h3>About</h3>
      </div>
      <div class="page-body">
        <ul>
          <li><a href="https://github.com/longjiangyuan">Github</a></li>
        </ul>
      </div>
    </div>
    <div class="col-xs-7">{{range $article := .Content}}
      <div class="page-header">
        <h3>{{$article.Title}}
          <small>
            by <a href="#">aaaa</a> on {{$article.PostTime}}
            <a class="glyphicon glyphicon-edit" href="{{$article.Title}}?edit"></a>
            <a class="glyphicon glyphicon-trash" href=""></a>
          </small>
        </h3>
      </div>
      <div class="page-body">
      {{$article.Content}}
      </div>
      <div class="page-footer">
        <p class="text-right"><a href="">Comment</a></p>
      </div>{{end}}
    </div>
    {{template "/right.html" .Right}}
  </div>
</div>
</body>
</html>
