<div class="col-sm-8">
<div class="panel panel-default">
<div class="panel-body">
  <!-- title -->
  {{template "/blog/title.html" .Article}}
  <!--content-->
  <div class="article-body">
    {{.Content}}
  </div>

  <!-- comment -->
  {{if gt .Article.NumComments 0}}
  <div class="page-header" id="comment">
    <h4>{{if eq .Article.NumComments 0}}No Comments
      {{else if eq .Article.NumComments 1}}1 Comment
      {{else}}{{.Article.NumComments}} Comments{{end}}</h4>
      {{range .Comments}}
    </div>
    <div>
      <div id="comment{{.ID}}">
        <p>
        <div class="row">
          <div class="col-xs-4">
            <strong>
              {{if .URL}}<a href="{{.URL}}" target="_blank"><span class="glyphicon glyphicon-user"></span> {{.Name}}</a>
              {{else}}<span class="glyphicon glyphicon-user"></span> {{.Name}}
              {{end}}
            </strong>
          </div>
          <div class="col-xs-4">
            <small>
              <span class="glyphicon glyphicon-calendar"></span>
              {{.Time.Format "Jan _2, 2006"}}
            </small>
          </div>
          <div class="col-xs-4">
            <a href="#response" onclick="replyTo({{.ID}})">
              <span class="glyphicon glyphicon-pencil"></span>
              reply
            </a>
          </div>
        </div>
        </p>
        <div class="well">
          {{.Content}}
          {{if .ReplyTo}}
          <div class="well quote">
            <strong>
              {{if .ReplyTo.URL}}<a href="{{.ReplyTo.URL}}" target="_blank">{{.ReplyTo.Name}}:</a>
              {{else}}{{.ReplyTo.Name}}:
              {{end}}
            </strong>
            {{.ReplyTo.Content}}
          </div>
          {{end}}
      </div>
    </div>
    {{end}}
  </div>
  {{end}}

  <!-- response -->
  <div class="page-header" id="response">
    <h4>Leave a comment</h4>
  </div>
  <div>
    <form method="POST" action="?comment">
      {{if .Login}}
      {{else}}
      <div class="form-group">
        <label for="name">Name <code>*</code></label>
        <input class="form-control" type="text" name="name" id="name" value="{{.Visitor.Name}}">
      </div>
      <div class="form-group">
        <label for="email">Email Address <code>*</code></label>
        <input class="form-control" type="email" name="email" id="email" value="{{.Visitor.Email}}">
      </div>
      <div class="form-group">
        <label for="url">URL</label>
        <input class="form-control" type="text" name="url" id="url" value="{{.Visitor.URL}}">
      </div>
      {{end}}
      <div class="form-group">
        <label for="comments">Comments</label>
        <textarea class="form-control" name="comments" id="comments" rows="5"></textarea>
      </div>
      <input type="hidden" name="replyto" id="replyto" value="0">
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
</div>
</div>

<div class="col-sm-4">
  <div class="panel panel-default">
    <div class="panel-body">
      <h4>Related Articles</h4>
      <hr>
      <ul>
        {{range .Related}}
        <li><a href="/blog/{{.ID}}" data-pjax>{{.Title}}</a></li>
        {{end}}
      </ul>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <h4>License</h4>
      <hr>
      <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0"   src="/img/cc_80x15.png" /></a></p>
      <p>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License.</a></p>
    </div>
  </div>
</div>
<script>
$('pre code').each(function(i, block) {
  hljs.highlightBlock(block);
});
function replyTo(id) {
  $('#replyto').val(id);
}
</script>
