<script>
function toggleUploadDialog() {
  $('#upload-dialog').modal('toggle');
}
function toggleNewFolderDialog() {
  $('#newfolder-dialog').modal('toggle');
}
</script>
<div class="modal fade" id="newfolder-dialog">
  <div class="modal-dialog" role="dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Create Folder</h4>
      </div>
      <div class="modal-body">
        <form method="post">
          <div class="form-group">
            <input type="text" class="form-control" name="folder" placeholder="Input folder name">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="upload-dialog">
  <div class="modal-dialog" role="dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Upload file</h4>
      </div>
      <div class="modal-body">
        <form method="post" action="" enctype="multipart/form-data">
          <input type="hidden" name="upload"/>
          <div class="form-group">
            <input type="file" class="form-control" name="image">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container-fluid">
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
      <li role="presentation">
        <a href="javascript:void(0)" onclick="toggleNewFolderDialog()" class="glyphicon glyphicon-plus-sign">&nbsp;CreateFolder</a>
      </li>
      <li role="presentation">
        <a href="javascript:void(0)" onclick="toggleUploadDialog()" class="glyphicon glyphicon-upload">&nbsp;Upload</a>
      </li>
		</ul>
	</div>
</div>
</nav>
