
    <div class="col-sm-9">
      <div class="page-header">
        <h4>{{.Filename}}</h4>
      </div>
      <div class="article-body">
        {{if .Next}}
        <a href="/gallery/{{.Dirname}}{{.Next}}"><img src="/photo/{{.Path}}" class="img-responsive"></a>
        {{else}}
        <img src="/photo/{{.Path}}" class="img-responsive">
        {{end}}
      </div>
      <ul class="pager">
        {{if .Prev}}<li class="previous" disabled><a href="/gallery/{{.Dirname}}{{.Prev}}">&larr; Prev</a></li>{{end}}
        {{if .Next}}<li class="next"><a href="/gallery/{{.Dirname}}{{.Next}}">Next &rarr;</a></li>{{end}}
      </ul>
    </div>

    <div class="col-sm-3">
      <!-- exif -->
      <div class="page-header">
        <h4>Meta</h4>
      </div>
      <div class="article-body">
        {{if .Exif}}
        <table class="table">
          <tbody>
            <tr><td style="width:50%">Shutter Speed</td><td style="width:50%">{{.Exif.ShutterSpeed}}</td></tr>
            <tr><td>Aperture</td><td>{{.Exif.Aperture}}</td></tr>
            <tr><td>Focal Length</td><td>{{.Exif.FocalLength}}</td></tr>
            <tr><td>ISO</td><td>{{.Exif.ISO}}</td></tr>
            <tr><td>Model</td><td>{{.Exif.Model}}</td></tr>
            <tr><td>Lens Model</td><td>{{.Exif.LensModel}}</td></tr>
            <tr><td>Taken</td><td>{{.Exif.Taken}}</td></tr>
          </tbody>
        </table>
        {{end}}
      </div>
      <!--license-->
      {{template "/common/license.html"}}
    </div>
